# InfluxDB - dane inicjalizacyjne (tylko przy pierwszym starcie kontenera)
INFLUX_USER=admin
INFLUX_PASSWORD=zmien_mnie
INFLUX_ORG=politechnika
INFLUX_BUCKET=dane_projektowe

# MQTT Explorer - logowanie do panelu webowego
EXPLORER_USER=admin
EXPLORER_PASSWORD=zmien_mnie
